<br><div *ngIf="dataLoaded == false" class="spinner-border" role="status">
   <span class="visually-hidden">Loading...</span>
 </div>


    <!-- <ul> -->
<div class="mb-3">
      <label for="filterColorText" class="form-label">Renk Ara</label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterColorText"
       placeholder="Renk Arayınız">
    </div>
    <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} Aradınız
    </div> 

    <select class="form-select" size="3" >
      <option  routerLink="/colors" (click)="resetCurrentColor()">Tüm Renkler</option>
      <option *ngFor="let color of colors |colorPipe:filterText"  (click)="setCurrentColor(color.colorId)">{{color.colorName}}</option>
    </select><br>


<!-- <li routerLink="/colors"
 (click)="resetCurrentColor()" 
 class="{{ listAllBrandCss }}" 
 style="background-color: #EEE">
Tümünü Listele
</li>

<li *ngFor="let color of colors | colorPipe:filterText"
routerLink="/colors/{{ color.colorId }}"
(click)="setCurrentColor(color.colorId)"
[class]="getCurrentColorClass(color.colorId)">
{{ color.colorName }}
</li>
</ul> -->