<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
   <span class="visually-hidden">Loading...</span>
 </div>
 <!-- <ul> -->

   <div class="mb-3">
      <label for="filterBrandText" class="form-label">Marka Ara</label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterBrandText"
       placeholder="Marka Arayınız">
    </div>
    <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} Aradınız
    </div> 


    <select class="form-select" size="3" >
      <option  routerLink="/brands" (click)="resetCurrentBrandId()">Tüm Markalar</option>
      <option *ngFor="let brand of brands |brandPipe:filterText"  (click)="setCurrentBrand(brand.brandId)">{{brand.brandName}}</option>
    </select>
    <br>
    
    <button class="btn btn-warning rounded-0" routerLink="/brands/add">Marka <strong>Ekle,Güncelle</strong></button>


    <!-- <input type="text"         
    (ngModelChange)="filterItem($event)" 
    [(ngModel)]="filterText">
    <br>
<select 
     #selectList
     [(ngModel)]="myDropDown" 
    (ngModelChange)="onChangeofOptions($event)">
    <option value="empty"></option>
    <option *ngFor="let item of brands">         
        {{item.brandName}}
    </option>    
</select>
<p>items {{ items | json }}</p> -->



 <!-- <li routerLink="/brands" 
(click)="resetCurrentBrandId()" 
 class="{{ listAllBrandCss }}" 
style="background-color: #EEE">
Tümünü Listele
</li>
 <li *ngFor="let brand of brands |brandPipe:filterText" 
 routerLink="/brands/{{ brand.brandId }}" 
(click)="setCurrentBrand(brand.brandId)" s
[class]="getCurrentBrandClass(brand.brandId)">
 {{ brand.brandName }}
</li>
</ul> -->