<div>

    <table class="table table-hover table-striped mt-4 border">
        <thead>
        <tr>
           <th>Marka Id</th>
           <th>Marka Adı</th>
      
  
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let brand of brands"  routerLink="/brands/{{brand.brandId}}">
           <th>{{ brand.brandId }}</th>
           <th>{{ brand.brandName }}</th>

        </tr>
        </tbody>
     </table>
</div>



<br>
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Marka Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="brandAddForm">
                    <div class="mb-3">
                    <label for="brandName">Ürün Adı</label>
                    <div class="form-group">
                        <input type="text" id="brandName" formControlName="brandName" class="form-control" placeholder="Marka Adı"/>
                    </div></div>
                </form>
            </div>
            <div class="mb-3">
                <label for="brandAdd"></label>
                <div class="form-group">
                    <button  (click)="BrandAdd()"  class="btn btn-success">Ekle</button>
                </div></div>
        </div>
    </div>
</div>