<table class="table table-bordered">
<thead>
    <tr>
        <th>Araba Adı</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Günlük Fiyatı</th>
    </tr>
</thead>
<tr *ngFor="let carDetail of carDetails">
    <td>{{carDetail.carName}}</td>
    <td>{{carDetail.brandName}}</td>
    <td>{{carDetail.colorName}}</td>
    <td>{{carDetail.dailyPrice}}</td>
 

</tr>

</table>


<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let image of images let i=index" [ngClass]="getSliderClassName(i)" >
        <img width="300" height="300" src="{{urlPath}}/{{image.imagePath}}"  class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<br> -->
 

<!-- 
  <table class="table">
    
    <tbody  *ngFor="let car of carDetails">

        <tr> 
            <th>Marka</th>
            <td>{{car.brandName}}</td>
        </tr>

        <tr> 
            <th>Model</th>
            <td>{{car.carName}}</td>
        </tr>

        <tr>
            <th>Renk</th>
            <td>{{car.colorName}}</td>
        </tr>

      

        <tr>
            <th>Günlük Kiralama Ücreti</th>
            <td>{{car.dailyPrice}}₺</td>
        </tr>

      
    
    </tbody>
     
 </table> -->