<div class="row">
  <div class="col-md-6">
    <div *ngIf="carDetail" class="card rounded-0">
      <div class="card-header fw-bold text-center lead py-3">Fatura Bilgileri</div>

      <div class="card-body p-0">
        <table class="table table-striped">
          <tbody>

            <tr>
              <th>Kullanıcı</th>
              <td>{{ getCurrentCustomer().firstName }} {{ getCurrentCustomer().lastName }}</td>
            </tr>

            <tr>
              <th>Araba Marka/Model</th>
              <td>{{ carDetail.brandName }} {{carDetail.carName}}</td>
            </tr>

            <tr>
              <th>Kiralama Tarihi</th>
              <td>{{rental.rentDate}}</td>
            </tr>

            <tr>
              <th>Teslim Tarihi</th>
              <td>{{rental.returnDate}}</td>
            </tr>

            <tr>
              <th>Total Price</th>
              <td>{{ calcTotalPrice() | currency:'₺ ' }} </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card rounded-0">
      <div class="card-header fw-bold text-center lead py-3">Kart Bilgileri</div>

      <div class="card-body">
        <form [formGroup]="paymentAddForm" (ngSubmit)="pay()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nameOnCard" placeholder="nameOnCard" formControlName="nameOnCard">
            <label for="nameOnCard">Kart Üzerindeki İsim</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cardNumber" placeholder="cardNumber" formControlName="cardNumber">
            <label for="cardNumber">Kart Numarası</label>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="validDate" placeholder="validDate" formControlName="validDate">
                <label for="validDate">Geçerlilik Tarihi</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cvv" placeholder="cvv" formControlName="cvv">
                <label for="cvv">Kart arkasında son üç hane</label>
              </div>
            </div>
          </div>
          <div class="form-check">
            <input #saveUserNameCheckBox class="form-check-input" type="checkbox"  id="saveUserNameCheckBox" 
            [checked]="saveUsername" 
            (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)"
            >
            <label class="form-check-label" for="flexCheckChecked">
              Kart Bilgilerimi Kaydet
            </label>
          </div>
          <div class="text-end">
            <button class="btn btn-primary">Ödeme Yap</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <table class="table">
         <tbody>
           <tr> <th>Kayıtlı Kartlarım</th>
           <th>Kayıtlı Kartınız Bulunmamaktadır.</th></tr>

         </tbody>
       </table>
    </div>
  </div>
</div>