<div class="row">
  
  <div class="col-md-6">
    <div *ngIf="carDetail" class="card rounded-0">
      <div class="card-header fw-bold text-center lead py-3">Fatura Bilgileri</div>

      <div class="card-body p-0">
        <table class="table table-striped">
          <tbody>

            <tr>
              <th>Kullanıcı</th>
              <td>{{ getCurrentCustomer().firstName }} {{ getCurrentCustomer().lastName }}</td>
            </tr>

            <tr>
              <th>Araba Marka/Model</th>
              <td>{{ carDetail.brandName }} {{carDetail.carName}}</td>
            </tr>

            <tr>
              <th>Kiralama Tarihi</th>
              <td>{{rental.rentDate}}</td>
            </tr>

            <tr>
              <th>Teslim Tarihi</th>
              <td>{{rental.returnDate}}</td>
            </tr>

            <tr>
              <th>Total Price</th>
              <td>{{ calcTotalPrice() | currency:'₺ ' }} </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card rounded-0">
      <div class="card-header fw-bold text-center lead py-3">Kart Bilgileri</div>

      <div class="card-body">
        <form [formGroup]="paymentAddForm" (ngSubmit)="pay()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cardOnName" placeholder="cardOnName" formControlName="cardOnName">
            <label for="cardOnName">Kart Üzerindeki İsim</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cardNumber" placeholder="cardNumber" formControlName="cardNumber">
            <label for="cardNumber">Kart Numarası</label>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cardValidDate" placeholder="cardValidDate" formControlName="cardValidDate">
                <label for="cardValidDate">Geçerlilik Tarihi</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cardCvv" placeholder="cardCvv" formControlName="cardCvv">
                <label for="cardCvv">Kart arkasında son üç hane</label>
              </div>
            </div>
          </div>
          <div class="form-check">
            <input #saveUserNameCheckBox class="form-check-input" type="checkbox"  id="saveUserNameCheckBox" 
            [checked]="saveUsername" 
            (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)"
            >
            <label class="form-check-label" for="flexCheckChecked">
              Kart Bilgilerimi Kaydet
            </label>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Ödeme Yap</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
       <table class="table" >
         <tbody>
           <thead>Kayıtlı Kartlarım</thead>
           <tr>
             <th>Kart Id</th>
             <th>Kart Numarası</th>
             <th>Kart Üzerindeki Ad</th>
             <th>Kart SKT</th>
             <th>Kart CVV</th>
             <th>Kart Tipi</th>
             <th></th>

            </tr>
           <tr *ngFor="let card of cards"  >
             <td>{{card.id}}</td>
             <td>{{card.cardNumber}}</td>
             <td>{{card.cardOnName}}</td>
             <td>{{card.cardValidDate}}</td>
             <td>{{card.cardCvv}}</td>
             <td>{{card.cardType}}</td>
             <td (click)="setCurrentCard(card.id)"><button class="btn btn-info">Seç</button></td>
            </tr>
         </tbody>
       </table>
    </div>
  </div>

</div>
