<div>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal">Aracı Kirala</button></div>


<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  *ngFor="let car of cars" class="modal-title" id="exampleModalLabel">
          {{ car.brandId }} - {{ car.colorId }} | Aracı Kirala
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Günlük</label
          >
          <div class="col-8">
            <input
              type="text"
              disabled="disabled"
              class="form-control"
             
            />
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Müşteri</label
          >
          <div class="col-8">
            <select class="form-select" [(ngModel)]="customerId">
              <option [value]="customer.customerId"
                *ngFor="let customer of customerDetails"
              >
                {{ customer.firstName }} {{ customer.lastName }} |
                {{ customer.companyName }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Başlangıç</label
          >
          <div class="col-8">
            <input
              class="form-control"
              min="{{ getRentMinDate() }}"
              value="{{ getRentMinDate() }}"
              type="date"
              [(ngModel)]="rentDate"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="example-date-input" class="col-4 col-form-label"
            >Bitiş</label
          >
          <div class="col-8">
            <input
              class="form-control"
              type="date"
              min="{{ getReturnMinDate() }}"
              value="{{ getReturnMinDate() }}"
              [(ngModel)]="returnDate"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button data-bs-dismiss="modal" (click)="createRental()" type="button" class="btn btn-primary">Kirala</button>
      </div>
    </div>
  </div>
</div>

<!-- 
<table class="table">

    <thead>
        <tr>
            <th>Kiralama Id</th>
            <th>Araç  Id</th>
            <th>Müsteri Id</th>
            <th>Kiralanan Tarih</th>
            <th>Teslim Tarih</th>


        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>

    </tr>
</table> -->