<!-- <div class="container">
      <app-navi></app-navi>
      <br>
      <div class="row">
            <div class="col">
                  <div class="col"><app-color></app-color></div><br>
                  <div class="col"><app-brand></app-brand></div>
               
            </div>
            <div class="col-md-9">
                  <router-outlet></router-outlet>

            </div>
            <div class="row"><app-car-detail></app-car-detail></div>

      </div>
</div> -->

<app-navi></app-navi>

<div class="container">
   <router-outlet></router-outlet>
</div>