<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Giriş Yap</h5>
            </div>

            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                            <label for="email">E-mail</label>
                            <div class="form-group">
                                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"/>
                            </div></div>

                        <div class="mb-3">
                                <label for="password">Şifre</label>
                                <div class="form-group">
                                    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Şifreniz"/>
                                </div></div>
                </form>
            </div>     
            <div class="mb-3">
                <label for="colorAdd"></label>
                <div class="form-group">
                    <button  (click)="login()"  class="btn btn-success">Giriş Yap</button>
                    <button  (click)="logout()"  class="btn btn-danger">Çıkış Yap</button>

                </div></div>
        </div>
    </div>
</div>