<!-- <form [formGroup]="colorUpdateForm" (ngSubmit)="colorUpdate()" >

    <div class="mb-3">
        <input type="text" class="form-control" formControlName="colorName">
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" formControlName="colorCode">
    </div>

    <button class="btn btn-primary" >Güncelle</button>
</form> -->


<div class="row mt-4">
    <div class="col-lg-9">

        <div class="card">
            <div class="card-header fw-bold">
                Renk Güncelle
            </div>
            <div class="card-body">
                <form autocomplete="off" *ngIf="color" [formGroup]="colorUpdateForm" (ngSubmit)="colorUpdate()">



                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="colorName" placeholder="colorName"
                            formControlName="colorName">
                        <label for="colorName">Renk Adı</label>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="colorCode" placeholder="colorCode"
                            formControlName="colorCode">
                        <label for="colorCode">Renk Kodu</label>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary rounded-0 px-4 fw-bold"> Güncelle </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="d-grid">
            <button class="btn btn-primary rounded-0" routerLink="/colors/add">
                <i class="bi-list me-1"></i> Renk Listesine Geri Dön
            </button>
        </div>
    </div>
</div>