
 <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
   <span class="visually-hidden">Loading...</span>
 </div>
 




 <div class="mb-3">
   <label for="filterText" class="form-label">Araba Ara</label>
   <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Araba Arayınız">
 </div>
 <div *ngIf="filterText" class="alert alert-success">
 {{filterText}} Aradınız
 </div> 


   <div class="row">

 <div class="card" style="width: 18rem; margin-right: 2rem;" *ngFor="let car of carDetails | filterPipe:filterText"  routerLink="/cars/detail/{{ car.carId }}">
  <img src="https://localhost:5001/{{car.imagePath}}" class="card-img-top" alt="...">

   <div class="card-body">
     <h5 class="card-title">Marka: <strong>{{car.brandName}}</strong></h5>
     <p class="card-text">Açıklama: <strong>{{ car.description }}</strong></p>
   </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">Ad: <strong>{{car.carName}}</strong></li>
     <li class="list-group-item">Renk: <strong>{{car.colorName}}</strong></li>
     <li class="list-group-item">Model Yılı: <strong>{{car.modelYear}}</strong></li>
     <li class="list-group-item">Açıklama: <strong>{{car.description}}</strong></li>
   </ul>
   <div class="card-body">
      <ul class="list-group list-group-flush">
         <li class="list-group-item">Günlük Fiyat: <strong>{{car.dailyPrice | currency:'TL'}}</strong></li>
            <li class="list-group-item">Kdv'li Fiyat: <strong>{{car.dailyPrice | vatAdded:18 | currency:'TL'}}</strong></li>
            <li class="list-group-item"><Button class="btn btn-warning" routerLink="/cars/update/{{car.carId}}">Güncelle</Button></li>

         </ul>
         </div>

 </div>
</div>