<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Araba Marka </th>
        <th scope="col">Araba Model </th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Dönüş Tarihi</th>
  </tr>

    </thead>
    <tbody *ngFor="let rentalDetail of rentalDetails">
        <tr>
        <th scope="row">{{rentalDetail.rentalId}}</th>
        <td>{{rentalDetail.brandName}}</td>
        <td>{{rentalDetail.carName}}</td>
        <td>{{rentalDetail.rentDate}}</td>
        <td>{{rentalDetail.returnDate}}</td>
</tr>


    </tbody>

</table>
