<div class="row mt-4">
    <div class="col-lg-9">

        <div class="card">
            <div class="card-header fw-bold">Araba Güncelle</div>
            <div class="card-body">
                <form autocomplete="off" *ngIf="car" [formGroup]="carUpdateForm" (ngSubmit)="carUpdate()">
                    <div class="form-floating mb-3">
                
                    <select class="form-select" id="brands" formControlName="brandId">
                        <option value="">-- Marka Seçiniz --</option>
   
                        <option *ngFor="let brand of brands" [value]="brand.brandId">
                           {{brand.brandName}}
                        </option>
                     </select>
                     <label for="brands">Markalar</label>
                    </div>


                    <div class="form-floating mb-3">
                        <select class="form-select" id="colors" formControlName="colorId">
                           <option value="">-- Renk Seçiniz --</option>
      
                           <option *ngFor="let color of colors" [value]="color.colorId">
                              {{ color.colorName }}
                           </option>
                        </select>
                        <label for="colors">Renkler</label>
                     </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modelYear" placeholder="modelYear"
                            formControlName="modelYear">
                        <label for="modelYear">Model Yılı</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="dailyPrice" placeholder="dailyPrice"
                            formControlName="dailyPrice">
                        <label for="dailyPrice">Günlük Ücret</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="description" placeholder="description"
                            formControlName="description">
                        <label for="description">Açıklama</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="carName" placeholder="carName"
                            formControlName="carName">
                        <label for="carName">Model Adı</label>
                    </div>


                    <div class="text-end">
                        <button type="submit" class="btn btn-primary rounded-0 px-4 fw-bold"> Güncelle </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="d-grid">
            <button class="btn btn-primary rounded-0" routerLink="/cars">Araba Listesine Geri Dön</button>
        </div>
    </div>
</div>