<br>
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Araba Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                   
                    <div class="form-floating mb-3">
                
                        <select class="form-select" id="brands" formControlName="brandId">
                            <option value="">-- Marka Seçiniz --</option>
       
                            <option *ngFor="let brand of brands" [value]="brand.brandId">
                               {{brand.brandName}}
                            </option>
                         </select>
                         <label for="brands">Markalar</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="colors" formControlName="colorId">
                               <option value="">-- Renk Seçiniz --</option>
          
                               <option *ngFor="let color of colors" [value]="color.colorId">
                                  {{ color.colorName }}
                               </option>
                            </select>
                            <label for="colors">Renkler</label>
                         </div>

                        <div class="mb-3">
                            <label for="modelYear">Model Yılı</label>
                            <div class="form-group">
                                <input type="number" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Model Yılı"/>
                            </div></div>

                            <div class="mb-3">
                                <label for="dailyPrice">Günlük Ücret</label>
                                <div class="form-group">
                                    <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Günlük Ücreti"/>
                                </div></div>

                                <div class="mb-3">
                                    <label for="description">Açıklama</label>
                                    <div class="form-group">
                                        <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama"/>
                                    </div></div>

                                    <div class="mb-3">
                                        <label for="carName">Model Adı</label>
                                        <div class="form-group">
                                            <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Model Adı"/>
                                        </div></div>
                            
                                        


                </form>
            </div>
            <div class="mb-3">
                <label for="carAdd"></label>
                <div class="form-group">
                    <button  (click)="carAdd()"  class="btn btn-success">Ekle</button>
                </div></div>
        </div>
    </div>
</div>