<div class="row" *ngIf="avaliable" >
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="changePasswordForm">

        <div class="mb-3">
          <label for="password">Parola</label>
          <div class="form-group">
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Parola"/>
          </div></div>

          <div class="mb-3">
            <label for="rePassword">Parola</label>
            <div class="form-group">
                <input type="password" id="rePassword" formControlName="rePassword" class="form-control" placeholder="Parola Tekrarı"/>
            </div></div>

    <!--  <button type="button" style="margin-top:5px;" (click)="updatePassword()"  class="btn btn-primary">Şifreyi Güncelle</button>
     --> 
     <div class="mb-3">
        <label for="updatePassword"></label>
        <div class="form-group">
            <button  (click)="updatePassword()"  class="btn btn-success">Parolayı Güncelle</button>
        </div></div>

    </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  
  <div  *ngIf="!avaliable" class="alert alert-danger" role="alert">
    Bu link kullanılmamaktadır.
  </div>